

.footer {
  position: fixed;
  left: 1000000000;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.content{

	width: 70%;
	margin: auto;
}

.mrgn{

	margin-left: 25px;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
}


.img-class{

  width: 300px;
  height:300px;
}

.txt-justify{

  text-align: justify;
}

.newblog{
  text-align: right;
}
